/* form.css */

.form {
	margin: auto;
	margin-top: 70px;
	padding: 10px 20px;
	border-radius: 4px;
	max-width: 600px;
	background-color: rgb(230, 230, 230);
}

.form label {
	display: block;
	margin-bottom: 10px;
	color: #1f1f1f;
	font-size: 1rem;
	font-weight: 500;
}

.form input {
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1rem;
}

.add-data-btn {
	background: linear-gradient(to right, #4f0db9 0%, #963bec 100%);
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	border-radius: 4px;
	transition: background 0.3s ease;
}

.add-data-btn:hover {
	background: linear-gradient(to right, #963bec 0%, #4f0db9 100%);
}
